<div>
  <input
    mat-input
    [(ngModel)]="newTodoTitle"
    placeholder="Enter todo"
    (keydown.enter)="addItem()"
    style="width: 300px; height: 40px; margin: 10px"
    maxlength="200"
  />
  <button mat-raised-button (click)="addItem()">Add Todo</button>
  <button mat-stroked-button (click)="ShowDeletedTodos()">Show Deleted Todos</button>
  
</div>

<div>
  <div *ngFor="let todo of todoList$ | async">
    <mat-card
      class="flashcards"
      style="background-color: antiquewhite"
      [@cardAnimation]
    >
      <div class="flashcards-content">
        <div>{{ todo.title }}</div>
        <div *ngIf="todo.showUpdate">
          <input
            mat-input
            [(ngModel)]="todo.title"
            placeholder="Enter updated text"
            maxlength="200"
          />
          <button mat-button (click)="submitUpdatedTodo(todo)">Submit</button>
        </div>
        <svg
          *ngIf="todo.completed"
          class="checkmark"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 52 52"
        >
          <circle
            class="checkmark__circle"
            cx="26"
            cy="26"
            r="25"
            fill="none"
          />
          <path
            class="checkmark__check"
            fill="none"
            d="M14.1 27.2l7.1 7.2 16.7-16.8"
          />
        </svg>
      </div>
    </mat-card>
    <button mat-button [disabled]="todo.completed" (click)="toggleUpdate(todo)">
      Update Todo
    </button>
    <button mat-button (click)="onDelete(todo.todoId)">Delete Todo</button>
    <button mat-button [disabled]="todo.completed" (click)="completeTodo(todo)">
      {{ todo.completed ? "Completed" : "Complete" }}
    </button>
  </div>
</div>
